.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.logo h1 span {
    color: #01d293;
}

.nav_menu {
    display: flex;
    align-items: center;
    column-gap: 2.8rem;
}

.nav_menu a {
    color: #808dad;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.nav_menu a:hover {
    color: #01d293;
}

.nav_menu a:first-child {
    color: #01d293;
}

.nav_right p {
    color: #01d293;
    margin-left: 20px;
    position: relative;
}

.nav_right i {
    color: #808dad;
}

.nav_right p::before {
    content: '';
    position: absolute;
    top: 25%;
    left: -20px;
    width: 1px;
    height: 14px;
    background: #808dad;
    color: #808dad;
}

.header_shrink {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    box-shadow: 5px 5px 15px -5px #01d29344 !important;
    z-index: 9999;
}
